#data-generator
pyyaml
psycopg2-binary
faker
dotenv

#CDC
python-dotenv
requests

#Consumer
kafka-python
boto3
fastparquet
pandas

#dbt
dbt-snowflake

#Airflow
apache-airflow
apache-airflow-providers-snowflake
snowflake-connector-python